body{
  margin: 0;
  padding: 0;
}
header{
  margin-left: 5%;
  margin-right: 5%;
}
nav{
  margin-left: 5%;
  margin-right: 5%;
}
#menu{
  width: 100%;
  height: 30%;	
  display:flex;
  justify-content: space-evenly;
}
#menu1{
  width: 40%;
  height: 30%;
  margin-top: 3%;
  font-size: 20px;
  display:inline-flex;
  justify-content: space-evenly;
}
.menuItem {
  padding-bottom: 5px;
  cursor: pointer;
  /*0221지은 추가시작*/
  color: black;
  text-decoration: none;
  /*0221지은 추가끝*/
  transition: font-size 0.3s ease-in-out;
}
.menuItem.active {
  border-bottom: 3px solid black;
}
.menuItem:hover {
  font-size: 24px;
}
/*0221지은 추가시작*/
.menuItem a{
  color: black;
  text-decoration: none;
}
/*0221지은 추가끝*/
#bookCategory{
  display: none;
  position: absolute;
  background: gray;
  color: white;
  padding: 10px;
  width: 100px;
  left: 20px;
  top: 60px;
  text-align: left;
  margin-top: 2%;
  margin-left: 6%;
  cursor: pointer;
}
#bookCategory a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}
#bookCategory a:hover{
  background: darkgray;
}
#communityCategory{
  display: none;
  position: absolute;
  background: gray;
  color: white;
  padding: 10px;
  width: 100px;
  left: 20px;
  top: 60px;
  text-align: left;
  margin-top: 2%;
  margin-left: 29%;
  cursor: pointer;
}
#communityCategory a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}
#communityCategory a:hover{
  background: darkgray;
}
#menuLogo{
  width: 20%;
  height: 30%;
  display: flex;
  align-items: center;
  text-align: center;
}
#menuLogoImg{
  width: 45%;
  height: 45%;
  cursor: pointer;
}
#menu2{
  width: 40%;
  height: 30%;
  margin-top: 3%;
  font-size:20px;
  display:inline-flex;
  justify-content: space-evenly;
}
#menuSearch{
  display: flex;
  align-items: center;
  position: relative;
}
#searchSwitchBtn{
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/*0220지은 추가시작*/
#searchText{
  cursor: pointer;
}
/*0220지은 추가끝*/

#searchInput{
  display: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
  width: 200px;
  /*transition: all 0.3s ease;*/
}
#searchImg{
  width: 25px;
  height: 25px;
}
#searchImgIcon{
  display: none;
}
#loginImg{
  width:25px;
  height: 25px;
}

/*0221지은 추가시작*/
#mypageImg{
  width:25px;
  height: 25px;
  cursor: pointer;
}
#menuCart{
  cursor: pointer;
}
/*0221지은 추가끝*/
#cartImg{
  width:25px;
  height: 25px;
}
#menuCart {
  position: relative; /* 부모 요소를 기준으로 위치 조정 */
  display: inline-block;
}
/*장바구니 count이미지*/
#cart-count {
  position: absolute;
  top: -20px;  /* 위쪽으로 이동 */
  right: -15px; /* 오른쪽으로 이동 */
  background-color: black; /* 배경 색상 (강조) */
  color: white; /* 숫자 색상 */
  font-size: 12px;
  font-weight: bold;
  padding: 4px 7px;
  border-radius: 50%; /* 원형으로 표시 */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15px;
  min-height: 15px;
  visibility: hidden; /* 기본적으로 숨김 */
}
/*장바구니 count이미지*/
#menuHr{
  background-color: black;
}
#footerHr{
  background-color: lightgrey;
}
#footerMenu{
  width: 100%;
  height: 30%;
  margin-bottom: 0;
  background-color: lightgrey;
  color: black;
  text-align: center;
  display: flow-root;
}
#footerMenu1{
  display: flex;
  justify-content: space-evenly;
  font-size: small;
}
#footerMenu2{
  margin-bottom: 0.5%;
  font-size: small;
}
#footerMenu3{
  margin-bottom: 0.5%;
  font-size: small;
}
#footerMenu4{
  margin-bottom: 0.5%;
  font-size: small;
}