<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookGap.mapper.userMapper">
	<select id="selectOneById" parameterType="String" resultType="java.util.Map">
		SELECT USER_ID 
			  ,USER_PW
			  ,USER_ENABLED 
			  ,USER_AUTHORITY 
			  ,USER_STATE 
			  ,USER_NAME 
			  ,USER_JOIN_DATE 
			  ,USER_PHONE 
			  ,USER_EMAIL 
			  ,COMPLAIN_NO 
		 FROM  USER  
		 WHERE USER_ID = #{user_id} 
	</select>
</mapper>
